body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
}

div#sidebar {
    background-color: #ecf0f1;
}

#other_link a:hover {
    background: #786b59;
    color: #ffe;
}
